<?xml version="1.0"?>
<config>
    <modules>
        <Collinsharper_Loomis>
            <version>0.1.0</version>
        </Collinsharper_Loomis>
    </modules>
    <global>
        <models>
            <loomismodule>
                <class>Collinsharper_Loomis_Model</class>
                <resourceModel>loomis_entity</resourceModel>
            </loomismodule>
            <loomis_entity>
                <class>Collinsharper_Loomis_Model_Mysql4</class>
                <entities>
                    <manifestshipment>
                        <table>ch_loomis_manifest_shipment</table>
                    </manifestshipment>
                    <manifest>
                        <table>ch_loomis_manifest</table>
                    </manifest>
                    <shipment>
                        <table>ch_loomis_shipment</table>
                    </shipment>
                </entities>
            </loomis_entity>
        </models>
        <blocks>
            <loomismodule>
                <class>Collinsharper_Loomis_Block</class>
            </loomismodule>
            <checkout>
                <rewrite>
                    <cart_shipping>Collinsharper_Loomis_Block_Cart_Shipping</cart_shipping>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <loomismodule>
                <class>Collinsharper_Loomis_Helper</class>
            </loomismodule>
        </helpers>
        <resources>
            <loomismodule_setup>
                <setup>
                    <module>Collinsharper_Loomis</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </loomismodule_setup>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <loomis_sales_order_observer>
                        <type>singleton</type>
                        <class>loomismodule/order_observer</class>
                        <method>save_loomis_options</method>
                    </loomis_sales_order_observer>
                </observers>
            </sales_order_place_after>
            <core_block_abstract_to_html_after>
                <observers>
                    <core_block_shipping_options_loomis>
                        <type>singleton</type>
                        <class>loomismodule/observer</class>
                        <method>updateShippingBlockOptions</method>
                    </core_block_shipping_options_loomis>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <loomis before="Mage_Adminhtml">Collinsharper_Loomis_Adminhtml</loomis>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <loomis>
                <use>standard</use>
                <args>
                    <module>Collinsharper_Loomis</module>
                    <frontName>loomis</frontName>
                </args>
            </loomis>
        </routers>
        <layout>
            <updates>
                <loomismodule>
                    <file>chloomis.xml</file>
                </loomismodule>
            </updates>
        </layout>

    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <loomismodule>
                    <file>chloomis.xml</file>
                </loomismodule>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <carriers>
            <loomismodule>
                <active>1</active>
                <allowed_methods>1,2,3,4,5,C,D,E,F,G,H,I</allowed_methods>
                <model>Collinsharper_Loomis_Model_Carrier_Shippingmethod</model>
                <title>Loomis Shipping</title>
                <name>Loomis</name>
                <addon_endpoint>https://sandbox.loomis-express.com/axis2/services/USSAddonsService</addon_endpoint>
                <business_endpoint>https://sandbox.loomis-express.com/axis2/services/USSBusinessService</business_endpoint>
                <enpoint>https://sandbox.loomis-express.com/axis2/services/USSRatingService</enpoint>
                <handling_type>fixed</handling_type>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <width>10</width>
                <length>10</length>
                <height>10</height>
                <instruction></instruction>
                <estimated_deliver_date_margin>1</estimated_deliver_date_margin>
                <dg>0</dg>
                <default_weight_unit>LB</default_weight_unit>
                <failover_ratetitle>Loomis Standard Rate</failover_ratetitle>
                <failover_rate>0</failover_rate>
                <default_weight>0</default_weight>
                <default_weight_unit>LB</default_weight_unit>
                <nsr>0</nsr>
                <xc>0</xc>
                <default_dimentional_unit>IN</default_dimentional_unit>
            </loomismodule>
        </carriers>
    </default>
</config>
